global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend fitbuddy
    bind *:8080

    acl is_ai path_beg /ai/

    use_backend ai-coach-service-backend if is_ai
    default_backend workout-service-backend

backend workout-service-backend
    option httpchk GET /actuator/health
    server workout-service workout-service:8080 check port 8081

backend ai-coach-service-backend
    option httpchk GET /actuator/health
    server ai-coach-service ai-coach-service:8080 check port 8081

